<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>NG - Container</h1>
</div>

<div class="row ">
    <ng-container *ngTemplateOutlet="myTemp">

    </ng-container>
</div>

<div class="row ">
    <div class="col-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>UserName</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="isApi">
                    <tr>
                        <td colspan="4" class="text-center">
                            <div class="spinner-grow text-muted"></div>
                            <div class="spinner-grow text-primary"></div>
                            <div class="spinner-grow text-success"></div>
                            <div class="spinner-grow text-info"></div>
                            <div class="spinner-grow text-warning"></div>
                            <div class="spinner-grow text-danger"></div>
                            <div class="spinner-grow text-secondary"></div>
                            <div class="spinner-grow text-dark"></div>
                            <div class="spinner-grow text-light"></div>
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="!isApi">
                    <tr *ngFor="let student of userList;let srNo = index">
                        <td> {{srNo +1}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.username}}</td>
                        <td>{{student.email}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <button class="btn btn-primary" (click)="getUser()">Load User</button>
    </div>
    <div class="col-4">
        <div #dynamicContainer>

        </div>
    </div>
</div>

<div class="row ">
    <ng-template #myTemp>
        <p>He From Template</p>
    </ng-template>
</div>