<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="attribute">Attribute-Directive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="data-binding">Data-Binding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="structual-directive">Structual Binding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="if-else">If-Else</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="for">For</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="switch-case">switch case</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="pipe">Pipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="template">Template Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="reactive">Reactive Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="ng">NG Template</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="ng-cont">NG Container</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="view-child">View Child</a>
                </li>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        API Integration
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" routerLink="api">Get Integration</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="post">Post API Integration</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="post">Update API Integration</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="post">Delete API Integration</a>
                        </li>
                    </ul>
                </div>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet>

    </router-outlet>
</div>