<div class="parent">

    <body>
        <div class="login-card">
            <div class="brand">
                <div class="brand-logo"></div>
                <h1>Welcome back</h1>
                <p>Enter your credentials to access your account</p>
            </div>

            <form id="loginForm">
                <div class="form-group">
                    <label for="userName">Email</label>
                    <input [(ngModel)]="userObj.userName" type="text" id="userName" name="userName"
                        placeholder="name@company.com">
                    <div class="error" id="emailError"></div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input [(ngModel)]="userObj.password" type="password" id="password" name="password"
                        placeholder="Enter your password">
                    <div class="error" id="passwordError"></div>
                </div>

                <div class="remember-forgot">
                    <div class="remember-me">
                        <input type="checkbox" id="remember">
                        <label for="remember">Remember me</label>
                    </div>
                    <a href="#" class="forgot-password">Forgot password?</a>
                </div>

                <button type="button" (click)="login()" class="login-btn" id="loginButton">
                    Sign in
                </button>
            </form>
            <div class="signup-link">
                <p>Don't have an account? <a href="#">Sign up</a></p>
            </div>
        </div>
    </body>
</div>